
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<h3>My Favorite TV Shows: </h3>
<ul>
    <li><%= show1 %></li>
    <li><%= show2 %></li>
    <li><%= show3 %></li>
    <li><%= show4 %></li>

</ul>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
